
<<<<<<< HEAD
<table>
<thead>
</thead>
<tbody>
    <%@songs.each do |song|%>
    <tr>
        <td><%= song.title%></td>
        <td><%= song.artist_name%></td>
        <td><%= song.genre %></td>
        <td><%= song.release_year%></td>
        <td><%= link_to song.title, song_path(song) %></td>
    <%end%>
    </tr>
</tbody>
</table>
=======
<% @songs.each do |song| %>
  <%= song.title %>
  <%= song.artist_name %>
  <%= song.genre %>

<% end %>
>>>>>>> aa44ebe9eb9c1f258f410bc1ba02d2cbc2ce6b61
